@import "globals";

.restaurant-item {
  background-color: $cell-color;
  height: 50px;
  margin: 10px;
  padding: 10px;

  .restaurant-item-name {
    padding-top: 5px;
    padding-left: 5px;
    font-style: bold;
    font-size: 20px;
  }

  .restaurant-item-price {
    padding-left: 5px;
    font-size: 16px;
  }

  .restaurant-item-qty {
    float: right;

    button {
      width: 25px;
      height: 20px;
      background-color: $bar-color;
      color: white;
    }
    span {
      font-size: 16px;
      font-weight: bold;
    }
  }
}
