@import "globals";

.button-bar {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: $bar-color;

  .backButton {
    width: 50px;
    img {
      width: 50px;
      height: 50px;
    }
  }
}

